In [1]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\asus\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\asus\miniconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\miniconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\miniconda3\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\miniconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: et-xmlfile in c:\users\asus\miniconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
import pandas as pd

file_path = "../Dataset/Yıllara_göre_araç _sayısı.xlsx"


df = pd.read_excel(file_path, header=1)
df

,Year,Total,(%),Gasoline,(%).1,Diesel,(%).2,LPG,(%).3,Hybrid (2),(%).4,Electric,(%).5,Unknown (3),(%).6
0,2004,5400440,100.0,4062486,75.225093,252629,4.677934,793081,14.685489,-,-,-,-,292244,5.411485
1,2005,5772745,100.0,3883101,67.266110,394617,6.835864,1259327,21.815046,-,-,-,-,235700,4.082980
2,2006,6140992,100.0,3838598,62.507784,583794,9.506510,1522790,24.797134,-,-,-,-,195810,3.188573
3,2007,6472156,100.0,3714973,57.399312,763946,11.803578,1826126,28.215111,-,-,-,-,167111,2.581999
4,2008,6796624,100.0,3531763,51.963490,947727,13.944085,2214661,32.584721,-,-,-,-,102473,1.507704
5,2009,7093964,100.0,3373875,47.559799,1111822,15.672789,2525449,35.599969,-,-,-,-,82818,1.167443
6,2010,7544862,100.0,3191964,42.306460,1381631,18.312210,2900034,38.437204,-,-,-,-,71233,0.944126
7,2011,8113111,100.0,3036129,37.422500,1756034,21.644398,3259288,40.173098,23,0.000283,24,0.000296,61613,0.759425
8,2012,8648875,100.0,2929216,33.868174,2101206,24.294559,3569143,41.267136,53,0.000613,175,0.002023,49082,0.567496
9,2013,9283923,100.0,2888610,31.114110,2497209,26.898209,3852336,41.494700,83,0.000894,353,0.003802,45332,0.488285
10,2014,9857915,100.0,2855078,28.962291,2882885,29.244369,4076730,41.354891,113,0.001146,412,0.004179,42697,0.433124
11,2015,10589337,100.0,2927720,27.647812,3345951,31.597361,4272044,40.342885,324,0.00306,565,0.005336,42733,0.403547
12,2016,11317998,100.0,3031744,26.786928,3803772,33.608170,4439631,39.226292,517,0.004568,643,0.005681,41691,0.368360
13,2017,12035978,100.0,3120407,25.925662,4256305,35.363184,4616842,38.358678,925,0.007685,760,0.006314,40739,0.338477
14,2018,12398190,100.0,3089626,24.919976,4568665,36.849451,4695717,37.874214,4415,0.03561,952,0.007679,38815,0.313070
15,2019,12503049,100.0,3020017,24.154244,4769714,38.148407,4661707,37.284562,13877,0.110989,1176,0.009406,36558,0.292393
16,2020,13099041,100.0,3201894,24.443728,5014356,38.280329,4810018,36.720383,33690,0.257194,2797,0.021353,36286,0.277013
17,2021,13706065,100.0,3495172,25.500915,5158803,37.638834,4923275,35.920412,86682,0.632435,6267,0.045724,35866,0.261680
18,2022,14269352,100.0,3817104,26.750367,5261876,36.875368,5005563,35.079119,134662,0.943715,14552,0.101981,35595,0.249451
19,2023,15221134,100.0,4362975,28.663929,5425652,35.645518,5094751,33.471560,222328,1.460653,80043,0.525868,35385,0.232473
20,2024,16122636,100.0,4860582,30.147564,5531873,34.311219,5163524,32.026550,365480,2.266875,165898,1.028976,35279,0.218817

In [4]:
df['Non-Elec'] = df['     Gasoline'] + df['   LPG'] + df['Diesel']
df

,Year,Total,(%),Gasoline,(%).1,Diesel,(%).2,LPG,(%).3,Hybrid (2),(%).4,Electric,(%).5,Unknown (3),(%).6,Non-Elec
0,2004,5400440,100.0,4062486,75.225093,252629,4.677934,793081,14.685489,-,-,-,-,292244,5.411485,5108196
1,2005,5772745,100.0,3883101,67.266110,394617,6.835864,1259327,21.815046,-,-,-,-,235700,4.082980,5537045
2,2006,6140992,100.0,3838598,62.507784,583794,9.506510,1522790,24.797134,-,-,-,-,195810,3.188573,5945182
3,2007,6472156,100.0,3714973,57.399312,763946,11.803578,1826126,28.215111,-,-,-,-,167111,2.581999,6305045
4,2008,6796624,100.0,3531763,51.963490,947727,13.944085,2214661,32.584721,-,-,-,-,102473,1.507704,6694151
5,2009,7093964,100.0,3373875,47.559799,1111822,15.672789,2525449,35.599969,-,-,-,-,82818,1.167443,7011146
6,2010,7544862,100.0,3191964,42.306460,1381631,18.312210,2900034,38.437204,-,-,-,-,71233,0.944126,7473629
7,2011,8113111,100.0,3036129,37.422500,1756034,21.644398,3259288,40.173098,23,0.000283,24,0.000296,61613,0.759425,8051451
8,2012,8648875,100.0,2929216,33.868174,2101206,24.294559,3569143,41.267136,53,0.000613,175,0.002023,49082,0.567496,8599565
9,2013,9283923,100.0,2888610,31.114110,2497209,26.898209,3852336,41.494700,83,0.000894,353,0.003802,45332,0.488285,9238155
10,2014,9857915,100.0,2855078,28.962291,2882885,29.244369,4076730,41.354891,113,0.001146,412,0.004179,42697,0.433124,9814693
11,2015,10589337,100.0,2927720,27.647812,3345951,31.597361,4272044,40.342885,324,0.00306,565,0.005336,42733,0.403547,10545715
12,2016,11317998,100.0,3031744,26.786928,3803772,33.608170,4439631,39.226292,517,0.004568,643,0.005681,41691,0.368360,11275147
13,2017,12035978,100.0,3120407,25.925662,4256305,35.363184,4616842,38.358678,925,0.007685,760,0.006314,40739,0.338477,11993554
14,2018,12398190,100.0,3089626,24.919976,4568665,36.849451,4695717,37.874214,4415,0.03561,952,0.007679,38815,0.313070,12354008
15,2019,12503049,100.0,3020017,24.154244,4769714,38.148407,4661707,37.284562,13877,0.110989,1176,0.009406,36558,0.292393,12451438
16,2020,13099041,100.0,3201894,24.443728,5014356,38.280329,4810018,36.720383,33690,0.257194,2797,0.021353,36286,0.277013,13026268
17,2021,13706065,100.0,3495172,25.500915,5158803,37.638834,4923275,35.920412,86682,0.632435,6267,0.045724,35866,0.261680,13577250
18,2022,14269352,100.0,3817104,26.750367,5261876,36.875368,5005563,35.079119,134662,0.943715,14552,0.101981,35595,0.249451,14084543
19,2023,15221134,100.0,4362975,28.663929,5425652,35.645518,5094751,33.471560,222328,1.460653,80043,0.525868,35385,0.232473,14883378
20,2024,16122636,100.0,4860582,30.147564,5531873,34.311219,5163524,32.026550,365480,2.266875,165898,1.028976,35279,0.218817,15555979

In [5]:
columns_to_drop = ['(%)', '(%).1', '(%).2', '(%).3', '(%).4', '(%).5', '(%).6', 'Unknown (3)', 'Hybrid (2)'] 
df = df.drop(columns=columns_to_drop)
df

    Year         Total       Gasoline   Diesel      LPG Electric  Non-Elec
0   2004       5400440        4062486   252629   793081        -   5108196
1   2005       5772745        3883101   394617  1259327        -   5537045
2   2006       6140992        3838598   583794  1522790        -   5945182
3   2007       6472156        3714973   763946  1826126        -   6305045
4   2008       6796624        3531763   947727  2214661        -   6694151
5   2009       7093964        3373875  1111822  2525449        -   7011146
6   2010       7544862        3191964  1381631  2900034        -   7473629
7   2011       8113111        3036129  1756034  3259288       24   8051451
8   2012       8648875        2929216  2101206  3569143      175   8599565
9   2013       9283923        2888610  2497209  3852336      353   9238155
10  2014       9857915        2855078  2882885  4076730      412   9814693
11  2015      10589337        2927720  3345951  4272044      565  10545715
12  2016      11317998        3031744  3803772  4439631      643  11275147
13  2017      12035978        3120407  4256305  4616842      760  11993554
14  2018      12398190        3089626  4568665  4695717      952  12354008
15  2019      12503049        3020017  4769714  4661707     1176  12451438
16  2020      13099041        3201894  5014356  4810018     2797  13026268
17  2021      13706065        3495172  5158803  4923275     6267  13577250
18  2022      14269352        3817104  5261876  5005563    14552  14084543
19  2023      15221134        4362975  5425652  5094751    80043  14883378
20  2024      16122636        4860582  5531873  5163524   165898  15555979

In [6]:
df['Electric'] = pd.to_numeric(df['Electric'], errors='coerce').fillna(0)

In [7]:
df.isnull().sum()

Year             0
       Total     0
     Gasoline    0
Diesel           0
   LPG           0
Electric         0
Non-Elec         0
dtype: int64

In [8]:
df.rename(columns={'       Total': 'Total', '     Gasoline': 'Gasoline', '   LPG': 'LPG'}, inplace=True)

In [9]:
df.head()

   Year    Total  Gasoline  Diesel      LPG  Electric  Non-Elec
0  2004  5400440   4062486  252629   793081       0.0   5108196
1  2005  5772745   3883101  394617  1259327       0.0   5537045
2  2006  6140992   3838598  583794  1522790       0.0   5945182
3  2007  6472156   3714973  763946  1826126       0.0   6305045
4  2008  6796624   3531763  947727  2214661       0.0   6694151

In [7]:

df.to_excel('../Dataset/Carbon Emission Calculation.xlsx', index=False)